@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: #EFF8F1;
    font-family: 'Poppins', sans-serif;
    color: #2F2F2F;
}
[class*=col] {
    /* border: 1px solid red; */
    
}
.btn-dash{
    margin-top: 5%;
}
.btn1:hover {
    background-color: #ffffff;
    color: green;
}
.btn{
    margin: 4% 4% 4% 0%;
    padding: 2% 5% 2% 5%;
}

.dash {
    margin-top: 20%;
    font-size: 20px;
}

font{
    font-size: 15px;
}

/* halaman login */
.lgn {
    margin-top: 5%;
}

.card {
    box-shadow: 0px 10px 20px 5px #DBDBDB;
    border-radius: 30px;
    margin-top: 1%;
    margin-left: 20%;
    width: 80%;
}
.form-lgn {
    margin: 4%;
}
::placeholder{ 
    font-size: 14px;
    margin-left: 50px;
   
}
.form-control {
    background: #EFF8F1;
    border-radius: 10px;
    height: 50px;
    border-style: none;
}